Package                        Version         Location                                                              Installer
------------------------------ --------------- --------------------------------------------------------------------- ---------
absl-py                        1.4.0           /root/miniconda3/lib/python3.10/site-packages                         pip
accelerate                     0.18.0          /root/miniconda3/lib/python3.10/site-packages                         pip
addict                         2.4.0           /root/miniconda3/lib/python3.10/site-packages                         pip
aenum                          3.1.12          /root/miniconda3/lib/python3.10/site-packages                         pip
aiofiles                       23.1.0          /root/miniconda3/lib/python3.10/site-packages                         pip
aiohttp                        3.8.4           /root/miniconda3/lib/python3.10/site-packages                         pip
aiosignal                      1.3.1           /root/miniconda3/lib/python3.10/site-packages                         pip
altair                         4.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
antlr4-python3-runtime         4.9.3           /root/miniconda3/lib/python3.10/site-packages                         pip
anyio                          3.6.2           /root/miniconda3/lib/python3.10/site-packages                         pip
argon2-cffi                    21.3.0          /root/miniconda3/lib/python3.10/site-packages                         pip
argon2-cffi-bindings           21.2.0          /root/miniconda3/lib/python3.10/site-packages                         pip
arrow                          1.2.3           /root/miniconda3/lib/python3.10/site-packages                         pip
asttokens                      2.2.1           /root/miniconda3/lib/python3.10/site-packages                         pip
async-timeout                  4.0.2           /root/miniconda3/lib/python3.10/site-packages                         pip
attrs                          22.2.0          /root/miniconda3/lib/python3.10/site-packages                         pip
Babel                          2.11.0          /root/miniconda3/lib/python3.10/site-packages                         pip
backcall                       0.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
basicsr                        1.4.2           /root/miniconda3/lib/python3.10/site-packages                         pip
beautifulsoup4                 4.11.1          /root/miniconda3/lib/python3.10/site-packages                         pip
bleach                         6.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
blendmodes                     2022            /root/miniconda3/lib/python3.10/site-packages                         pip
boltons                        23.0.0          /root/miniconda3/lib/python3.10/site-packages                         conda
brotlipy                       0.7.0           /root/miniconda3/lib/python3.10/site-packages
cachetools                     5.3.0           /root/miniconda3/lib/python3.10/site-packages                         pip
certifi                        2022.12.7       /root/miniconda3/lib/python3.10/site-packages                         conda
cffi                           1.15.1          /root/miniconda3/lib/python3.10/site-packages                         conda
chardet                        4.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
charset-normalizer             2.0.4           /root/miniconda3/lib/python3.10/site-packages                         conda
clean-fid                      0.1.29          /root/miniconda3/lib/python3.10/site-packages                         pip
click                          8.1.3           /root/miniconda3/lib/python3.10/site-packages                         pip
clip                           1.0             /root/miniconda3/lib/python3.10/site-packages                         pip
comm                           0.1.2           /root/miniconda3/lib/python3.10/site-packages                         pip
conda                          23.3.1          /root/miniconda3/lib/python3.10/site-packages
conda-content-trust            0.1.3           /root/miniconda3/lib/python3.10/site-packages                         conda
conda-package-handling         1.9.0           /root/miniconda3/lib/python3.10/site-packages                         conda
contourpy                      1.0.7           /root/miniconda3/lib/python3.10/site-packages                         pip
cryptography                   38.0.1          /root/miniconda3/lib/python3.10/site-packages                         conda
cycler                         0.11.0          /root/miniconda3/lib/python3.10/site-packages                         pip
debugpy                        1.6.6           /root/miniconda3/lib/python3.10/site-packages                         pip
decorator                      5.1.1           /root/miniconda3/lib/python3.10/site-packages                         pip
defusedxml                     0.7.1           /root/miniconda3/lib/python3.10/site-packages                         pip
deprecation                    2.1.0           /root/miniconda3/lib/python3.10/site-packages                         pip
einops                         0.4.1           /root/miniconda3/lib/python3.10/site-packages                         pip
entrypoints                    0.4             /root/miniconda3/lib/python3.10/site-packages                         pip
executing                      1.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
facexlib                       0.3.0           /root/miniconda3/lib/python3.10/site-packages                         pip
fastapi                        0.94.0          /root/miniconda3/lib/python3.10/site-packages                         pip
fastjsonschema                 2.16.2          /root/miniconda3/lib/python3.10/site-packages                         pip
ffmpy                          0.3.0           /root/miniconda3/lib/python3.10/site-packages                         pip
filelock                       3.9.0           /root/miniconda3/lib/python3.10/site-packages                         conda
filterpy                       1.4.5           /root/miniconda3/lib/python3.10/site-packages                         pip
flake8                         6.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
font-roboto                    0.0.1           /root/miniconda3/lib/python3.10/site-packages                         pip
fonts                          0.0.3           /root/miniconda3/lib/python3.10/site-packages                         pip
fonttools                      4.38.0          /root/miniconda3/lib/python3.10/site-packages                         pip
fqdn                           1.5.1           /root/miniconda3/lib/python3.10/site-packages                         pip
frozenlist                     1.3.3           /root/miniconda3/lib/python3.10/site-packages                         pip
fsspec                         2023.5.0        /root/miniconda3/lib/python3.10/site-packages                         pip
ftfy                           6.1.1           /root/miniconda3/lib/python3.10/site-packages                         pip
future                         0.18.3          /root/miniconda3/lib/python3.10/site-packages                         pip
gdown                          4.7.1           /root/miniconda3/lib/python3.10/site-packages                         pip
gfpgan                         1.3.8           /root/miniconda3/lib/python3.10/site-packages                         pip
gitdb                          4.0.10          /root/miniconda3/lib/python3.10/site-packages                         pip
GitPython                      3.1.30          /root/miniconda3/lib/python3.10/site-packages                         pip
gmpy2                          2.1.2           /root/miniconda3/lib/python3.10/site-packages                         conda
google-auth                    2.16.0          /root/miniconda3/lib/python3.10/site-packages                         pip
google-auth-oauthlib           1.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
gradio                         3.28.1          /root/miniconda3/lib/python3.10/site-packages                         pip
gradio_client                  0.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
grpcio                         1.51.1          /root/miniconda3/lib/python3.10/site-packages                         pip
h11                            0.12.0          /root/miniconda3/lib/python3.10/site-packages                         pip
httpcore                       0.15.0          /root/miniconda3/lib/python3.10/site-packages                         pip
httpx                          0.24.0          /root/miniconda3/lib/python3.10/site-packages                         pip
huggingface-hub                0.14.1          /root/miniconda3/lib/python3.10/site-packages                         pip
idna                           2.10            /root/miniconda3/lib/python3.10/site-packages                         pip
imageio                        2.28.1          /root/miniconda3/lib/python3.10/site-packages                         pip
inflection                     0.5.1           /root/miniconda3/lib/python3.10/site-packages                         pip
ipykernel                      6.20.2          /root/miniconda3/lib/python3.10/site-packages                         pip
ipython                        8.9.0           /root/miniconda3/lib/python3.10/site-packages                         pip
ipython-genutils               0.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
ipywidgets                     8.0.4           /root/miniconda3/lib/python3.10/site-packages                         pip
isoduration                    20.11.0         /root/miniconda3/lib/python3.10/site-packages                         pip
jedi                           0.18.2          /root/miniconda3/lib/python3.10/site-packages                         pip
Jinja2                         3.1.2           /root/miniconda3/lib/python3.10/site-packages                         conda
json5                          0.9.11          /root/miniconda3/lib/python3.10/site-packages                         pip
jsonmerge                      1.8.0           /root/miniconda3/lib/python3.10/site-packages                         pip
jsonpatch                      1.32            /root/miniconda3/lib/python3.10/site-packages                         conda
jsonpointer                    2.3             /root/miniconda3/lib/python3.10/site-packages                         pip
jsonschema                     4.17.3          /root/miniconda3/lib/python3.10/site-packages                         pip
jupyter_client                 8.0.1           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyter_core                   5.1.5           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyter-events                 0.6.3           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyter_server                 2.1.0           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyter_server_terminals       0.4.4           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyterlab                     3.5.3           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyterlab-language-pack-zh-CN 3.5.post4       /root/miniconda3/lib/python3.10/site-packages                         pip
jupyterlab-pygments            0.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
jupyterlab_server              2.19.0          /root/miniconda3/lib/python3.10/site-packages                         pip
jupyterlab-widgets             3.0.5           /root/miniconda3/lib/python3.10/site-packages                         pip
kiwisolver                     1.4.4           /root/miniconda3/lib/python3.10/site-packages                         pip
kornia                         0.6.7           /root/miniconda3/lib/python3.10/site-packages                         pip
lark                           1.1.2           /root/miniconda3/lib/python3.10/site-packages                         pip
lazy_loader                    0.2             /root/miniconda3/lib/python3.10/site-packages                         pip
lightning-utilities            0.8.0           /root/miniconda3/lib/python3.10/site-packages                         pip
linkify-it-py                  2.0.2           /root/miniconda3/lib/python3.10/site-packages                         pip
llvmlite                       0.40.0          /root/miniconda3/lib/python3.10/site-packages                         pip
lmdb                           1.4.1           /root/miniconda3/lib/python3.10/site-packages                         pip
lpips                          0.1.4           /root/miniconda3/lib/python3.10/site-packages                         pip
Markdown                       3.4.1           /root/miniconda3/lib/python3.10/site-packages                         pip
markdown-it-py                 2.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
MarkupSafe                     2.1.2           /root/miniconda3/lib/python3.10/site-packages                         pip
matplotlib                     3.6.3           /root/miniconda3/lib/python3.10/site-packages                         pip
matplotlib-inline              0.1.6           /root/miniconda3/lib/python3.10/site-packages                         pip
mccabe                         0.7.0           /root/miniconda3/lib/python3.10/site-packages                         pip
mdit-py-plugins                0.3.3           /root/miniconda3/lib/python3.10/site-packages                         pip
mdurl                          0.1.2           /root/miniconda3/lib/python3.10/site-packages                         pip
mistune                        2.0.4           /root/miniconda3/lib/python3.10/site-packages                         pip
mkl-fft                        1.3.6           /root/miniconda3/lib/python3.10/site-packages
mkl-random                     1.2.2           /root/miniconda3/lib/python3.10/site-packages                         conda
mkl-service                    2.4.0           /root/miniconda3/lib/python3.10/site-packages
mpmath                         1.2.1           /root/miniconda3/lib/python3.10/site-packages/mpmath-1.2.1-py3.10.egg
multidict                      6.0.4           /root/miniconda3/lib/python3.10/site-packages                         pip
nbclassic                      0.5.1           /root/miniconda3/lib/python3.10/site-packages                         pip
nbclient                       0.7.2           /root/miniconda3/lib/python3.10/site-packages                         pip
nbconvert                      7.2.9           /root/miniconda3/lib/python3.10/site-packages                         pip
nbformat                       5.7.3           /root/miniconda3/lib/python3.10/site-packages                         pip
nest-asyncio                   1.5.6           /root/miniconda3/lib/python3.10/site-packages                         pip
networkx                       2.8.4           /root/miniconda3/lib/python3.10/site-packages                         conda
notebook                       6.5.2           /root/miniconda3/lib/python3.10/site-packages                         pip
notebook_shim                  0.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
numba                          0.57.0          /root/miniconda3/lib/python3.10/site-packages                         pip
numpy                          1.23.5          /root/miniconda3/lib/python3.10/site-packages                         pip
nvidia-ml-py                   11.515.75       /root/miniconda3/lib/python3.10/site-packages                         pip
nvitop                         1.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
oauthlib                       3.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
omegaconf                      2.2.3           /root/miniconda3/lib/python3.10/site-packages                         pip
open-clip-torch                2.7.0           /root/miniconda3/lib/python3.10/site-packages                         pip
opencv-python                  4.7.0.72        /root/miniconda3/lib/python3.10/site-packages                         pip
orjson                         3.8.12          /root/miniconda3/lib/python3.10/site-packages                         pip
packaging                      23.0            /root/miniconda3/lib/python3.10/site-packages                         conda
pandas                         2.0.1           /root/miniconda3/lib/python3.10/site-packages                         pip
pandocfilters                  1.5.0           /root/miniconda3/lib/python3.10/site-packages                         pip
parso                          0.8.3           /root/miniconda3/lib/python3.10/site-packages                         pip
pexpect                        4.8.0           /root/miniconda3/lib/python3.10/site-packages                         pip
pickleshare                    0.7.5           /root/miniconda3/lib/python3.10/site-packages                         pip
piexif                         1.1.3           /root/miniconda3/lib/python3.10/site-packages                         pip
Pillow                         9.4.0           /root/miniconda3/lib/python3.10/site-packages
pip                            22.3.1          /root/miniconda3/lib/python3.10/site-packages
platformdirs                   2.6.2           /root/miniconda3/lib/python3.10/site-packages                         pip
pluggy                         1.0.0           /root/miniconda3/lib/python3.10/site-packages                         conda
prometheus-client              0.16.0          /root/miniconda3/lib/python3.10/site-packages                         pip
prompt-toolkit                 3.0.36          /root/miniconda3/lib/python3.10/site-packages                         pip
protobuf                       3.20.0          /root/miniconda3/lib/python3.10/site-packages                         pip
psutil                         5.9.4           /root/miniconda3/lib/python3.10/site-packages                         pip
ptyprocess                     0.7.0           /root/miniconda3/lib/python3.10/site-packages                         pip
pure-eval                      0.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
pyasn1                         0.4.8           /root/miniconda3/lib/python3.10/site-packages                         pip
pyasn1-modules                 0.2.8           /root/miniconda3/lib/python3.10/site-packages                         pip
pycodestyle                    2.10.0          /root/miniconda3/lib/python3.10/site-packages                         pip
pycosat                        0.6.4           /root/miniconda3/lib/python3.10/site-packages                         conda
pycparser                      2.21            /root/miniconda3/lib/python3.10/site-packages                         conda
pydantic                       1.10.7          /root/miniconda3/lib/python3.10/site-packages                         pip
pydub                          0.25.1          /root/miniconda3/lib/python3.10/site-packages                         pip
pyflakes                       3.0.1           /root/miniconda3/lib/python3.10/site-packages                         pip
Pygments                       2.14.0          /root/miniconda3/lib/python3.10/site-packages                         pip
pyOpenSSL                      22.0.0          /root/miniconda3/lib/python3.10/site-packages                         conda
pyparsing                      3.0.9           /root/miniconda3/lib/python3.10/site-packages                         pip
pyrsistent                     0.19.3          /root/miniconda3/lib/python3.10/site-packages                         pip
PySocks                        1.7.1           /root/miniconda3/lib/python3.10/site-packages                         conda
python-dateutil                2.8.2           /root/miniconda3/lib/python3.10/site-packages                         pip
python-json-logger             2.0.4           /root/miniconda3/lib/python3.10/site-packages                         pip
python-multipart               0.0.6           /root/miniconda3/lib/python3.10/site-packages                         pip
pytorch-lightning              1.9.4           /root/miniconda3/lib/python3.10/site-packages                         pip
pytz                           2022.7.1        /root/miniconda3/lib/python3.10/site-packages                         pip
PyWavelets                     1.4.1           /root/miniconda3/lib/python3.10/site-packages                         pip
PyYAML                         6.0             /root/miniconda3/lib/python3.10/site-packages                         pip
pyzmq                          25.0.0          /root/miniconda3/lib/python3.10/site-packages                         pip
realesrgan                     0.3.0           /root/miniconda3/lib/python3.10/site-packages                         pip
regex                          2023.5.5        /root/miniconda3/lib/python3.10/site-packages                         pip
requests                       2.25.1          /root/miniconda3/lib/python3.10/site-packages                         pip
requests-oauthlib              1.3.1           /root/miniconda3/lib/python3.10/site-packages                         pip
resize-right                   0.0.2           /root/miniconda3/lib/python3.10/site-packages                         pip
rfc3339-validator              0.1.4           /root/miniconda3/lib/python3.10/site-packages                         pip
rfc3986-validator              0.1.1           /root/miniconda3/lib/python3.10/site-packages                         pip
rsa                            4.9             /root/miniconda3/lib/python3.10/site-packages                         pip
ruamel.yaml                    0.17.21         /root/miniconda3/lib/python3.10/site-packages                         conda
ruamel.yaml.clib               0.2.6           /root/miniconda3/lib/python3.10/site-packages                         conda
safetensors                    0.3.1           /root/miniconda3/lib/python3.10/site-packages                         pip
scikit-image                   0.19.2          /root/miniconda3/lib/python3.10/site-packages                         pip
scipy                          1.10.1          /root/miniconda3/lib/python3.10/site-packages                         pip
semantic-version               2.10.0          /root/miniconda3/lib/python3.10/site-packages                         pip
Send2Trash                     1.8.0           /root/miniconda3/lib/python3.10/site-packages                         pip
sentencepiece                  0.1.99          /root/miniconda3/lib/python3.10/site-packages                         pip
setuptools                     65.5.0          /root/miniconda3/lib/python3.10/site-packages
six                            1.16.0          /root/miniconda3/lib/python3.10/site-packages                         conda
smmap                          5.0.0           /root/miniconda3/lib/python3.10/site-packages                         pip
sniffio                        1.3.0           /root/miniconda3/lib/python3.10/site-packages                         pip
soupsieve                      2.3.2.post1     /root/miniconda3/lib/python3.10/site-packages                         pip
stack-data                     0.6.2           /root/miniconda3/lib/python3.10/site-packages                         pip
starlette                      0.26.1          /root/miniconda3/lib/python3.10/site-packages                         pip
sympy                          1.11.1          /root/miniconda3/lib/python3.10/site-packages                         conda
tb-nightly                     2.14.0a20230508 /root/miniconda3/lib/python3.10/site-packages                         pip
tensorboard                    2.11.2          /root/miniconda3/lib/python3.10/site-packages                         pip
tensorboard-data-server        0.7.0           /root/miniconda3/lib/python3.10/site-packages                         pip
tensorboard-plugin-wit         1.8.1           /root/miniconda3/lib/python3.10/site-packages                         pip
termcolor                      2.1.1           /root/miniconda3/lib/python3.10/site-packages                         pip
terminado                      0.17.1          /root/miniconda3/lib/python3.10/site-packages                         pip
tifffile                       2023.4.12       /root/miniconda3/lib/python3.10/site-packages                         pip
timm                           0.6.7           /root/miniconda3/lib/python3.10/site-packages                         pip
tinycss2                       1.2.1           /root/miniconda3/lib/python3.10/site-packages                         pip
tokenizers                     0.13.3          /root/miniconda3/lib/python3.10/site-packages                         pip
tomli                          2.0.1           /root/miniconda3/lib/python3.10/site-packages                         pip
toolz                          0.12.0          /root/miniconda3/lib/python3.10/site-packages                         conda
torch                          2.0.1           /root/miniconda3/lib/python3.10/site-packages
torchaudio                     2.0.2           /root/miniconda3/lib/python3.10/site-packages
torchdiffeq                    0.2.3           /root/miniconda3/lib/python3.10/site-packages                         pip
torchmetrics                   0.11.4          /root/miniconda3/lib/python3.10/site-packages                         pip
torchsde                       0.2.5           /root/miniconda3/lib/python3.10/site-packages                         pip
torchvision                    0.15.2          /root/miniconda3/lib/python3.10/site-packages
tornado                        6.2             /root/miniconda3/lib/python3.10/site-packages                         pip
tqdm                           4.64.1          /root/miniconda3/lib/python3.10/site-packages                         conda
traitlets                      5.8.1           /root/miniconda3/lib/python3.10/site-packages                         pip
trampoline                     0.1.2           /root/miniconda3/lib/python3.10/site-packages                         pip
transformers                   4.25.1          /root/miniconda3/lib/python3.10/site-packages                         pip
triton                         2.0.0           /root/miniconda3/lib/python3.10/site-packages
typing_extensions              4.5.0           /root/miniconda3/lib/python3.10/site-packages                         conda
tzdata                         2023.3          /root/miniconda3/lib/python3.10/site-packages                         pip
uc-micro-py                    1.0.2           /root/miniconda3/lib/python3.10/site-packages                         pip
uri-template                   1.2.0           /root/miniconda3/lib/python3.10/site-packages                         pip
urllib3                        1.26.13         /root/miniconda3/lib/python3.10/site-packages                         conda
uvicorn                        0.22.0          /root/miniconda3/lib/python3.10/site-packages                         pip
wcwidth                        0.2.6           /root/miniconda3/lib/python3.10/site-packages                         pip
webcolors                      1.12            /root/miniconda3/lib/python3.10/site-packages                         pip
webencodings                   0.5.1           /root/miniconda3/lib/python3.10/site-packages                         pip
websocket-client               1.5.0           /root/miniconda3/lib/python3.10/site-packages                         pip
websockets                     11.0.3          /root/miniconda3/lib/python3.10/site-packages                         pip
Werkzeug                       2.2.2           /root/miniconda3/lib/python3.10/site-packages                         pip
wheel                          0.37.1          /root/miniconda3/lib/python3.10/site-packages
widgetsnbextension             4.0.5           /root/miniconda3/lib/python3.10/site-packages                         pip
yapf                           0.33.0          /root/miniconda3/lib/python3.10/site-packages                         pip
yarl                           1.9.2           /root/miniconda3/lib/python3.10/site-packages                         pip
